{% macro card(video) -%}
      <div class='card'>         
        <div class='thumbnailContainer'>
          <a href="https://www.youtube.com/watch?v={{video['videoId']}}">
          <img
            src="{{ video['thumbnails'] | highest_quality_image}}"
            alt="thumbnail"
            class='thumbnail'/>
            </a>
        </div>
            
      <div class='infoContainer'>
        <div class='channelLogoContainer'>
          <img 
            src="https://www.nicepng.com/png/detail/804-8049853_med-boukrima-specialist-webmaster-php-e-commerce-web.png"
            alt="channel"
            class='channelLogo'
          />
        </div>
        <a href="https://www.youtube.com/watch?v={{video['videoId']}}">
        <div class='info'>
          <p>{{ video['title'] }}</p>
          <span>Test Channel</span></br>
          <span>{{ video['stats']['views'] | numberize }} views • {{ video['publishedTimeText'] }}</span>
        </div>
        </a>
      </div>
    </div>
  
     
{%- endmacro %}